doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Cellular automata
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/vue/vue.min.js')
        script(src='/js/ace/ace.js')
    body
        #container
            app
        
        include app.pug
        script(src="/js/index.js")