doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Cellular automata
        link(rel='stylesheet', href='/css/render.css')
    body
        script(src='/ca/lib/ca.js')
        //script(src='/ca/examples/marmite.js')
        script!= code
        script(src="/js/render.js")